<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': post.isLoved() === 1,
                'list-group-item-danger': post.isLoved() === -1}">
  <div style="position: relative;float: right; color: black;">{{ post.getCreatedAt() | date: 'MM/dd/yyyy, hh:mm a' }}</div>
  <h2 style="font-weight: bold;">{{ post.getTitle() }}</h2>
  <p style="text-align: justify;">{{ post.getContent() }}</p>
  <button class="btn btn-success" style="margin-right:10px;"
              (click)="onLoveIt()">Love It !</button>
  <button class="btn btn-danger"
              (click)="onDontLoveIt()">Don't Love It !</button>
</li>
