<div class="row">
  <div class="col-xs-12">
    <h1 style="font-weight: bold;">Posts</h1>
    <ul class="list-group">
      <app-post-list-item *ngFor="let postItem of postItems"
                      [post]="postItem"></app-post-list-item>
    </ul>
  </div>
</div>
